// Body
$body-bg: #202020;
$body-color: #FFFFFF;


// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;

$primary: #1E3779;
$secondary: darken($red, 25);
$accent: #e84855;

$link-color: lighten($primary, 20);

$dropdown-bg: $body-bg;
$dropdown-divider-bg: lighten($dropdown-bg, 10);
$dropdown-link-color: $white;
$dropdown-link-hover-color: darken($white, 20);
$dropdown-link-hover-bg: lighten($dropdown-bg, 10);

$navbar-dark-color: $white;
$navbar-dark-hover-color: darken($white, 20);

$pagination-color: $accent;
$pagination-bg: $body-bg;
$pagination-border-color: $primary;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: lighten($pagination-bg, 10);
$pagination-hover-border-color: $pagination-border-color;

$pagination-active-color: $accent;
$pagination-active-bg: $primary;
$pagination-active-border-color: $pagination-active-bg;

$pagination-disabled-color: $pagination-color;
$pagination-disabled-bg: lighten($body-bg, 10);
$pagination-disabled-border-color: $pagination-border-color;