.team-preview {
	padding: 10px 0;

	.info {
		width: 100%;
		display: flex;
		flex: 0 0 auto;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 10px 0;
	}

	.team-name {
		font-size: 1.3em;
		font-weight: bold;
	}

	.team {
		width: inherit;
		display: flex;
		justify-content: space-between;
		align-content: center;
		flex-direction: row;
		flex-wrap: wrap;

		img {
			max-width: 60px;
			max-height: 60px;
			width: auto;
			height: auto;
		}
	}

	.pokemon {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
	}

	.pokemon-name {
		margin-top: 10px;
	}

	.meta-info span {
		padding-left: 10px;
	}

	.team-format {
		padding-right: 10px;
	}
}
